#json{
position: absolute;
}

#settingsContainer {
display: table;
margin: 0 auto;
}

#displayNone {
display: none !important;
}
#importJsonId {
    padding: 6px 12px;
    cursor: pointer;
    display: inline-block; 
	transition: all 0.5s;
    border: 1px solid #ccc; 
    border-right: 0px;
}
#submitJsonId { 
    padding: 6px 12px;
    cursor: pointer;
    display: inline-block; 
	transition: all 0.5s;
    border: 1px solid #ccc; 
    border-left: 0px;
}
.submitUnactive {
  background-color:#BFBFBF;
}
.submitActive {
color: white;
  background-color: #7979FF;
}
#submitJson{
display: none;
}
.default:hover {
background-color: #ddd;
}
.default {
	background-color: white; 
}
 
.error {
	background-color: #FA081E;
}
.ready {
color: white;
	background-color: #00B900;
}

input[type="file"] {
    display: none;
}


#settingsIcon {  
cursor: pointer;
	-moz-transition: all 1s  ; 
	-webkit-transition: all 1s  ; 
	-o-transition: all 1s  ; 
	transition: all 1s  ;
color: #C1BEBE;
}
#settingsIcon:hover {    
color:  grey;
	-moz-transform: rotate(360deg) ; 
	-webkit-transform:  rotate(360deg); 
	-o-transform: rotate(360deg) ; 
	transform: rotate(360deg) ;
}
#settings {
border: 0 !important;
padding: 0 !important;  
    font-size: 30px; 
background-color: white !important;
}
#previewList li { 
margin: 30px;
  display: inline;
}
a:visited{
  color:black;
}
a {

text-decoration: none;
}
#previewList { 
font-size: 22px;
display: table;
margin: 130px auto;
}
 
#header, td  { 
	    text-align: center;
}  
 
 
table { 
max-height: 100px;
display:table;
margin: 0 auto;
max-width: 1500px;
}
#entireTable { 
    border-collapse: collapse;
    min-width: 700px;
	max-width: 1500px;
}

#entireTable td, #entireTable th { 
 
    border: 0px solid #ddd;
    padding: 8px;
}

tr:nth-child(even) td:nth-child(1),tr:nth-child(even) td:nth-child(2),tr:nth-child(even) td:nth-child(3){background-color: #f2f2f2;}

#entireTable  td:nth-child(1):hover
{background-color: #ddd;}

#entireTable th {   
    padding-top: 12px;
    padding-bottom: 12px; 
    background-color: #4CAF50;
    color: white;
}  
#resetButton,#submitButton, .plusOne {
border-radius: 3px; 
    border: none;
    color: white;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px; 
    -webkit-transition-duration: 0.6s;  
    transition-duration: 0.6s;
    cursor: pointer;
}
#resetButton {
background-color: #DE9C22;
margin-right: 10px;
}
#resetButton:hover {
background-color: #D80017;
margin-right: 10px;
}
#submitButton { 
background-color: #4CAF50;  
}
#submitButton:hover {
background-color: #1E7520;  
}
 .plusOne {
 background-color: #2679D8;
 }
.active td:nth-child(1),.active td:nth-child(2),.active td:nth-child(3) {
background-color: #ddd !important;
}


 


 .DummyRow td{ 
 background-color: white !important;
   height: 30px;
 }
 
.variants { 
font-size: 20px;
position: fixed; 
}









 

#dropdown
{
    width: 200px;  
}

.btn 
{font-size:  15px;
    text-align: center; 
    color: white;
    background-color: transparent;
    border: 0px ;
    font-weight: bold;  
    cursor: pointer; 
    min-width: 200px; 
}

 

.dropdown_links
{
    display: none;
}

#dropdown:hover .dropdown_links
{ 
    display: block;
    position: absolute;
} 
.dropdown_links a
   {   
 background-color: white;
    margin-left: 135px;
    width: 25px; 
    border: 1px solid #999;
    padding: 15px; 
    text-decoration: none;
    color: #111;
    display: block;
}

.dropdown_links a:hover
{
    background-color: #ccc;
}




  
